.Header.header {
    background: rgb(49, 61, 73);
    height: 10vh;
}

.Header.flex-container {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    background: #a5865d;
    height: 75px;
}

.Header.btn-link {    
    display: flex;
    flex-direction: row-reverse;
}
.Header.btn-link button {
    display: flex;
    background:none;
    color:inherit;
    border:none; 
    font: inherit;
    cursor: pointer;
}
.Header.btn-link img{
    width: 60px;
    height: 60px;
}
.Header.btn-link a {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #4e332c;
    margin-top: auto;
    margin-bottom: auto;
}

.Header.spacer {
    width: 25px;
}