.Workarea.container {
    display: flex;
    flex: 1;
    background: #495C70;
}

.Workarea.container > nav {
    flex: 0 0 30vw;
    background: #495C70;
}

.Workarea.container > main {
    flex: 1;
}
