.Student.form-container {
    font-size: 16px;
	background: #495C70;
	padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
    height: 100%
}

.Student.submit-change{
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
    color: #fff;
    
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}

.Student.submit-change:hover{
    background: #394D61;
}