.toggle.items {
    display: none
}

.NavItem.btn-fill {
    width: 100%;
    height: 100%;
    display: block;

    background:none;
    color:inherit;
    border:none; 
    font: inherit;
    cursor: pointer;
}
.NavItem.anchor-fill {
    margin: 0;
    display:block;
    text-align:center; 
}

.nav.container {
    height: 60px;
    text-align: center;
    margin: auto;
    margin-left: 10%;
    font-size: 16px;
	background: #bc986a;	
}

.nav.container a {
    margin-left: 0;
}