.FormElement.wrapper div label,
.FormElement.wrapper div input,
.FormElement.wrapper div div label,
.FormElement.wrapper div div input {
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;
}

.FormElement.wrapper div label {
    display:block;
	margin-bottom: 10px;
}

.FormElement.wrapper div label > span{
	display: inline-block;
	float: left;
	width: 150px;
}

.FormElement.wrapper div input,
.FormElement.wrapper div div input {
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	outline: none;
	padding: 0px 0px 0px 0px;
}

.FormElement.container {
    margin-left: 10%;
    margin-right: auto
}

.FormElement.address {
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
}